
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Color and Spacing Variables */
:root {
  --light: #e6e5ec;
  --medium: #867fa0;
  --dark: #0d0042;
}
/* Body/Global Styles START */
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: var(--light);
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body a {
  text-decoration: none;
  color: inherit;
}
/* Body/Global Styles END */
/* Header Styles START */
header {
  display: flex;
  padding: 30px 45px;
  background-color: var(--dark);
  color: var(--light);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Cinzel', serif;
}
header h1 {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
header nav ul li a {
  margin: 0 30px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none; 
  color: var(--light);
  border-bottom: 1px solid var(--medium);
}
.active {
  padding: 5px 10px;
  background-color: var(--light);
  color: var(--dark);
}
/* Header Styles END */
/* Hero Styles START */
.hero{
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  position: relative;
}
.hero-img{
  width: 100%;
  height: 100%;
  position: absolute;
}
/* Hero Styles END */

/* Content Styles START */
.grid-outer {
  width: 80%;
  margin: 0 auto;
  display:grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto auto auto;
  grid-gap: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: var(--dark);
  padding: 50px 0;
}
.grid-outer h2{
  padding-right: 25px;
  font-family: 'Cinzel', serif;
  font-size: 30px;
  text-align: right;
  border-right: 3px solid var(--dark);
}
.grid-content {
  line-height: 1.5;
}
/* CONTACT FORM START */
.contact-me-form{
  width: 50%;
}
.contact-me-form div{
  width: 100%;
  padding-bottom: .5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-me-form div input {
  width: 48%;
}
.contact-me-form div textarea {
  width: 100%;
}
.contact-me-form div input, .contact-me-form div textarea {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color:  var(--dark);
  border-radius: 4px;
  border: 1px solid var(--dark);
}
.contact-me-form button {
    margin: 10px auto;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 10px 25px;
    background: var(--dark);
    font-size: 22px;
    color: var(--light);
    font-family: 'Cinzel', serif;
    font-weight:  700;
}
.error-text {
    font-size: 22px;
    color: var(--dark);
    font-family: 'Cinzel', serif;
    font-weight:  700;
}
/* CONTACT FORM END */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(3, 150px);
}
.project {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border: 5px solid var(--medium);
  position: relative;
}
.project a {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.project-img {
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: .3;
}
.project-img:hover {
  opacity: .8;
}
.project-description {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  margin-bottom: 15px;
  padding: 5px 7px 5px 3px;
  background: var(--medium);
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 12px;
  line-height: 1.25;
  z-index: 2;
}
.project-description h4 {
  font-size: 14px;
  font-family: 'Cinzel', serif;
}
#project1 {
  grid-column: span 2;
  grid-row: span 2;
}
/* Content Styles END */
/* Footer Styles START */
footer {
  display: flex;
  padding: 30px 45px;
  background-color: var(--medium);
  color: var(--dark);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Cinzel', serif;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer h5 {
  display: flex;
  justify-self: flex-start;
  font-family: 'Cinzel', serif;
  font-weight: 300;
  font-size: 24px;
  color: var(--dark);
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
footer ul li a {
  margin: 0 30px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none; 
  color: var(--light);
  border-bottom: 1px solid var(--light);
}
footer p {
  line-height: 1.5;
  text-align: right;
  align-self: flex-end;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 200;
  color: var(--dark);
  opacity: .5;
}
footer a {
  color: var(--dark);
}
/* Footer Styles END */